<%- include('head.ejs') %>


    <body>



        <div class="container-fluid">
            <div class="row">
                <%- include('sidebar.ejs') %>
                    <main role="main" class="col-md-10">
                        <div class="row bg-light">
                            <%- include('searchnavbar.ejs') %>
                        </div>
                        <div class="row">
                            <div
                                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <a href="javascript:history.back()" class="btn "><i
                                        class="material-icons">arrow_back</i></a>
                                        <% if(songData.length == 0 ){%>
                                            <h1 class="h2 mx-auto">No songs found</h1>
                                            <%} else { %>
                                                 <h1 class="h2 mx-auto">Results</h1>
                                                 <% }%>>
                              
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <% for (let i = 0; i < songData.length; i++) { %>
                                <div class="col-md-6 py-5">
                                  <div class="text-center">
                                    <h3><%= songData[i].songName %></h3>
                                    <p><%= songData[i].artistName %></p>
                                    <img src="<%= songData[i].imageUrl %>" alt="Album Cover" class="img-fluid mx-auto d-block mb-3">
                                    <audio controls class="d-block mx-auto py-2">
                                      <source src="<%= songData[i].audioUrl %>" type="audio/mpeg">
                                    </audio>
                                    <% if (typeof userdata != "undefined") { %>
                                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addToCollectionModal<%= i %>">Add to Collection</button>
                                            <div class="modal fade" id="addToCollectionModal<%= i %>" tabindex="-1" aria-labelledby="addToCollectionModalLabel<%= i %>" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addToCollectionModalLabel<%= i %>">Add to Collection</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <% if (userdata && collections && collections.length !== 0) { %>
                                                    <% let userCollectionId; %>
                                                    <form action="/collections" method="POST">
                                                        <input type="hidden" name="song_name" value="<%= songData[i].songName %>">
                                                        <input type="hidden" name="user_id" value="<%= userdata.user_id %>">
                                                        <div class="form-group">
                                                        <label for="collectionSelect">Select a collection:</label>
                                                        <select class="form-control" id="collectionSelect" name="user_collection_id">
                                                            <% collections.forEach(function(collection) { %>
                                                            <% if (userdata && collection.collection_creator === userdata.user_name) { %>
                                                                <option value="<%= collection.user_collection_id %>"><%= collection.collection_title %></option>
                                                            <% } %>
                                                            <% }); %>
                                                        </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-outline-dark py-3" data-bs-toggle="modal" data-bs-target="#songAddedModal<%= i %>">Add to Collection</button>
                                                    </form>
                                                    <% } else { %>
                                                    <p>You have no collections yet.</p>
                                                    <a href="/createcollection" class="btn btn-outline-dark py-3">Create Collection</a>
                                                    <% } %>
                                                </div>
                                                </div>
                                            </div>
                                            </div>

                                            <!-- Song Added Modal -->
                                            <div class="modal fade" id="songAddedModal<%= i %>" tabindex="-1" aria-labelledby="songAddedModalLabel<%= i %>" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="songAddedModalLabel<%= i %>"><%= songData[i].songName %> Added to Collection</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                            </div>

                                          
                                        <% } else { %>
                                            <div class="row"><p>Please <a class = "text-danger-emphasis" href ='/login'>log in</a> to add to your collection</p></div>
                                        <% } %>
    
                                        
                                      </div>
                                    </div>
                            <% } %>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <%- include('footer.ejs') %>



    </body>

    </html>